# dependencies
/node_modules

# next.js
/.next
/out
/pages-dist
/dist/dev

# testing
/test-results
/playwright-report
/artifacts
/coverage

# local environment
.env
.env.local
.env.*.local

# system
.DS_Store
*.log
*.tsbuildinfo

# deployment
.vercel
